.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 8px;
  padding: 8px;
  box-sizing: border-box;
  padding: 0 2rem;

  h3.title {
    margin: 16px 0 0 0;
    padding: 0;
  }

  .lists-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 24px;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  .skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 8px;
    padding: 8px;
    box-sizing: border-box;
  
    h3.title {
      margin: 16px 0 0 0;
      padding: 0;
    }
  
    .lists-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      padding: 16px;
    }
  
    li {
      transition: all .5s cubic-bezier(0.24, 0.9, 0.47, 1.99);
  
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}