.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s cubic-bezier(0.24, 0.9, 0.47, 1.99);
  cursor: pointer;
  padding: 0.5rem;
  white-space: nowrap;
  overflow:visible;

  &:hover {
    transform: scale(1.2);
  }
    
  svg {
    max-height: 48px;
    max-width: 48px;
    margin-right: 1rem;
  }
}